# Ignore Java build output and artifacts
/leave-management-be/target/
*.jar

# Ignore IDE directories and metadata
/.idea/
/.vscode/

# Ignore Node.js dependencies and build output
/leave-frontend-be/node_modules/
/leave-frontend-be/dist/

# Ignore environment variables files
**/.env

# Ignore logs and log files
graph.log
logs/
*.log

# Ignore OS-specific files
.DS_Store

# Ignore compiled class files
*.class 